.recharts-cartesian-axis-line {
  display: none;
}
.recharts-cartesian-axis-tick-line {
  display: none;
}
.recharts-yAxis .recharts-text {
  transform: translate(-20px, 0);
}
.about .recharts-wrapper .recharts-cartesian-grid-horizontal line:last-child,
.about .recharts-wrapper .recharts-cartesian-grid-vertical line:last-child {
  stroke-opacity: 0 !important;
}
.about .recharts-cartesian-grid-vertical {
  opacity: 0;
}
